<%- include("partials/header.ejs") %>

  <section id="contact" class="contact-section-container">
    <h1 class="contactLabel">Contact Me</h1>
    <div class="contact">
      <div class="contactContainer">
        <p>I’d love to hear from you! Whether you have suggestions for books, feedback, or just want to discuss literature, feel free to reach out. You can contact me through email or message me on LinkedIn. :></p>
        <p class="email">cartallarogin@gmail.com</p>
        <div class="social-icons">
          <a href="mailto:cartallarogin@gmail.com" target="blank"><i class="fa fa-envelope"></i></a>
          <a href="https://www.linkedin.com/in/rogin-cartalla/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="https://github.com/rogincodes" target="blank"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </div>
  </section>

<%- include("partials/footer.ejs") %>