<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up for Readsy</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <section class="sign-up">
    <div class="sign-up-container">
      <div class="sign-up-card">
        <h1 class="text-logo">readsy</h1>
        <h1>Create your account</h1>
        <form action="/register" method="POST">
          <div class="sign-up-form">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="password" id="isbn" name="isbn" placeholder="Password" required>
            <input type="password" id="isbn" name="isbn" placeholder="Confirm Password" required>
          </div>
          <div class="bottom-buttons">
            <button type="submit" class="login-and-sign-up-button">Sign up</button>
            <p>Have an account? <a href="/login" class="redirect-button">Log in</a></p>
          </div>
        </form>
      </div>
    </div>
    <div class="footainer">
      <footer class="foot">
        &copy; 2024 All rights reserved.
      </footer>
    </div>
  </section>
</body>
</html>