html {
  background-color: #EEEEEE;
  font-family: "Neuton", serif;
  font-weight: 800;
  font-style: normal;
  scroll-behavior: smooth;
  color: #373A40;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

/* General Styling */
body {
  display: grid;
  grid-template-rows: 60px 40px 1fr;
}

.container {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.head {
  margin: 0;
  padding: 10px 0 0 5px;
  border-top: 1px solid #ccc;
  font-size: 1.2rem;
}

.sub-head {
  color: #686D76;
  font-weight: 300;
}

button {
  width: 100%;
  padding: 5px;
  color: #373A40;
  border-radius: 5px;
  border: 1px solid #373A40;
  font-size: .6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  color: #fff;
  background-color: #DC5F00;
  border: 1px solid #d25b00;
}

button:active {
  color: #fff;
  background-color: #d25b00;
  border: 1px solid #d25b00;
}

/* Top Section Styling */
.top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.top-readsy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DC5F00;
  font-size: 1.8rem;
  font-family: "Neuton", serif;
  font-weight: 800;
  text-decoration: none;
  padding-bottom: 8px;
}

.top-sign-in {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  text-decoration: none;
  padding-right: 10px;
}

.top-btn {
  width: 80px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 10px;
  background-color: #373A40;
  color: #fff;
}

/* Header Section Styling */
.header-section {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #373A40;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

/* navigation */
.nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1.8rem;
}

.nav li {
  list-style-type: none;
}

.nav li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.nav li a:hover {
  color: #ff8c00;
}

.hidden-temp {
  display: none;
}

.website {
  color: #ff7300;
  font-size: 1.6rem;
  font-family: "Neuton", serif;
  font-weight: 800;
  display: none;
  height: 40px;
}

.sign-in {
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.user {
  text-decoration: none;
  color: #fff;
}

/* Home Section Styling */
.home {
  display: flex;
  height: 20vh;
}

.areadsy {
  text-decoration: none;
}

.readsy {
  font-size: 2.8rem;
  font-weight: 900;
  color: #DC5F00;
  padding: 0 25px;
}

.description {
  white-space: pre-line;
  font-weight: 400;
  font-style: italic;
  font-size: .7rem;
}

.left-pane {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 14px;
}

.right-pane {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
  padding-left: 10px;
  /* Initial state (masked and transparent) */
  opacity: 0;
  mask-image: linear-gradient(to bottom, #373A40 0%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, #373A40 0%, transparent 100%);
  /* Animation */
  animation: fade-in-top-bottom 3s ease forwards;
}

/* Keyframes for fading in from top to bottom */
@keyframes fade-in-top-bottom {
  0% {
    opacity: 0;
    mask-image: linear-gradient(to bottom, #373A40 0%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, #373A40 0%, transparent 100%);
  }
  100% {
    opacity: 1;
    mask-image: linear-gradient(to bottom, #373A40 100%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, #373A40 100%, transparent 100%);
  }
}

/* Random Book Section Styling */
.random {
  display: flex;
  height: 18vh;
}

.random-head {
  margin: 0;
  padding: 10px 0 0 5px;
  border-top: 1px solid #ccc;
  font-size: 1.2rem;
}

.random-details {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: .8rem;
  padding-left: 5px;
}

.random-details > * {
  margin: 0;
  text-decoration: none;
}

.random-title {
  color: #373A40;
  margin: 0;
}

.random-title:hover {
  text-decoration: underline;
}

.random-genre, .random-author, .random-recommendation {
  font-weight: 300;
}

.random-book {
  flex-basis: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-cover {
  height: 90px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.random-cover:hover {
  transform: scale(1.028);
}

.view-book {
  border-radius: 20px;
  width: 65px;
  margin-top: 5px;
}

/* Bookshelf Section Styling */
.bookshelf {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
  gap: 10px;
}

/* card */
.card {
  flex-basis: 29.8%;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  font-size: .5rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.card:hover .book-cover{
  transform: scale(1.028);
}

.card:hover .limited-text{
  text-decoration: underline;
}

.card > a {
  color: #373A40;
  text-decoration: none;
}

/* book details */
.book-cover {
  display: flex;
  height: 165px;
  width: 100%;
  margin: 0;
  transition: transform 0.2s ease-in-out;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-details {
  padding: 2px;
}

.book-details > * {
  margin: 2px 0 0 0;
}

.book-author, .recommendation {
  font-weight: 400;
}

.limited-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;     /* For WebKit browsers */
  line-clamp: 2;             /* Placeholder for future standard */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;   /* Adds '...' for truncated text */
}

/* New Book Page Styling */
.add-book, .edit-book {
  font-size: 1.6rem;
  white-space: pre-line;
  margin: 8px 0 10px 0;
  border-top: none;
  line-height: 1;
}

/* form */
.form-container {
  flex-basis: 100%;
  max-width: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.form-group {
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.form-title {
  font-size: 1.35rem;
  margin: 0 0 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

.rating {
  padding: 10px;
}

select option {
  text-align: center;
}

/* input */
input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f9f9f9;
  outline: none;
  transition: border 0.3s ease;
}

textarea {
  font-family: "Roboto", sans-serif;
  line-height: 1.25;
}

input:focus,
textarea:focus {
  border-color: #007BFF;
}

.error {
  color: red;
  font-size: 0.9em;
}

.submit-button {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 800;
  padding: 7px;
  color: #fff;
  background-color: #1f883d;
  border: 1px solid #197935;
}

.submit-button:hover {
  background-color: #1c8139;
  border: 1px solid #197935;
}

.submit-button:active {
  background-color: #197935;
  border: 1px solid #197935;
}

/* Journal Page Styling */
.journal-section {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

.journal {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
}

.journal-cover {
  height: 280px;
  width: 220px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.j-genre {
  margin: 5px 0 0 0;
  font-weight: 700;
  font-size: 1.4rem;
}

.j-rating {
  font-weight: 300;
  font-size: .9rem;
  margin: 5px 0 15px 0;
}

/* journal buttons */
.edit-delete-btn {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.no-deco {
  text-decoration: none;
}

.edit-btn, .delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  font-weight: 800;
  font-size: .8rem;
}

.edit-btn {
  color: #fff;
  background-color: #1f883d;
  border: 1px solid #197935;
}

.edit-btn:hover {
  background-color: #1c8139;
  border: 1px solid #197935;
}

.edit-btn:active {
  background-color: #197935;
  border: 1px solid #197935;
}

.delete-btn {
  color: #fff;
  background-color: #d1242f;
  border: 1px solid #8b0820;
}

.delete-btn:hover {
  background-color: #a40e26;
  border: 1px solid #8b0820;
}

.delete-btn:active {
  background-color: #8b0820;
  border: 1px solid #8b0820;
}

/* journal details */
.journal-details {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.journal-details > * {
  margin: 0;
  padding: 0;
}

.j-title {
  font-size: 2rem;
  margin: 15px 0 0 0;
}

.j-author {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 10px 0;
}

.a-author {
  color: #373A40;
  text-decoration: none;
}

.a-author:hover {
  text-decoration: underline;
}

.author-books {
  font-size: 1.4em;
  border-top: none;
}

.j-rating, .j-review, .j-notes {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.j-review, .j-notes {
  line-height: 1.5;
  font-size: 1rem;
  padding: 5px;
  margin: 0;
  white-space: pre-line;
}

.j-labels {
  margin: 0;
}

/* Books Page Styling */
.bookshelf-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.shelf-head {
  flex-basis: 100%;
  font-size: 1.6rem;
  padding-left: 5px;
  margin: 15px 0 0 0;
}

/* sorts */
.sorts {
  flex-basis: 100%;
  flex-wrap: wrap;
  padding: 5px;
  display: flex;
  gap: 5px;
}

.sort-options {
  flex-wrap: 1;
  padding: 7px; /* Add padding to give space around the text */
  font-size: 12px;
  text-align: center; /* Center the text */
  appearance: none; /* Remove default styling (Webkit) */
  -webkit-appearance: none; /* Remove default styling (Safari) */
  -moz-appearance: none; /* Remove default styling (Firefox) */
  background-size: 10px 5px; /* Size of the custom arrow */
  border: 1px solid #ccc; /* Add border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
}

.genre-width {
  width: 160px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="3" viewBox="0 0 10 5"><polygon points="0,0 5,5 10,0" fill="black"/></svg>') no-repeat right 10px center;
  background-color: #f9f9f9;
}

.sort-width {
  width: 110px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="3" viewBox="0 0 10 5"><polygon points="0,0 5,5 10,0" fill="black"/></svg>') no-repeat right 10px center;
  background-color: #ffffff;
}

.new-btn {
  flex-grow: 1;
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #fff;
  border: 1px solid #197935;
  background-color: #1f883d;
  border-radius: 8px;
  cursor: pointer;
}

.new-btn:hover {
  background-color: #1c8139;
}

/* search input */
.search-container {
  flex-basis: 100%;
  margin-top: 5px;
}

.search-input {
  padding: 8px;
}

/* search filter */
.hidden {
  display: none;
}

#search-pane {
  display: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  justify-content: space-between;
  color: #373A40;
}

.search-text {
  margin: 0;
  padding: 10px 0 10px 5px;
}

.clear-btn {
  min-width: 70px;
  display: flex;
  align-items: center;
}

.clear-filter {
  padding: 0 5px;
  text-decoration: none;
  color: #59636e;
}

.clear-filter:hover {
  color: #007BFF;
}

.no-books-yet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.no-books-yet > h1 {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.no-books-yet > a {
  text-decoration: none;
}

.add-books-btn {
  width: 200px;
  padding: 8px;
  font-size: .9rem;
  font-weight: 800;
  color: #373A40;
}

.add-books {
  text-decoration: none;
}

/* About Page Styling */
.about-container {
  padding: 0 10px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.about-title {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.highlight {
  color: #DC5F00;
}

.about-intro {
  text-align: center;
  font-size: 1.2em;
  color: #686D76;
  margin: 0 auto;
  max-width: 700px;
}

.about-section {
  margin: 40px 0 20px 0;
  font-weight: 350;
}

.about-section h2 {
  font-size: 1.8em;
  margin: 0;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  flex: 1;
  padding-right: 10px;
  font-size: 1em;
}

.about-image {
  flex: 1;
  padding-left: 15px;
}

.about-image img {
  height: 280px;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-list {
  list-style: none;
  padding-left: 0;
  font-size: 1em;
}

.about-list li {
  margin-bottom: 10px;
  line-height: 1.6em;
}

.philosophy-text {
  font-size: 1em;
}

/* contact link */
.about-contact-intro {
  font-size: 1.1em;
  margin: 10px 0;
  line-height: 1.6em;
}

.contact-link {
  display: inline-block;
  font-size: 1.1em;
  transition: background-color 0.3s ease-in-out;
}

/* Contact Page Styling */
.contact-section-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px 20px 50px 20px;
  font-family: "Roboto", sans-serif;
}

.contactLabel {
  text-align: center;
  font-size: 3rem;
  margin: 0px;
  color: #DC5F00;
}

.contact {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
}

.contactContainer {
  flex-basis: 70%;
}

.contact p {
  margin: 10px 0px 0px 0px;
}

.email {
  margin: 11px 0rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.social-icons {
  margin-top: .5rem;
}

.social-icons a {
  display: inline-block;
  margin: .3rem 1rem;
  color: #373A40;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #DC5F00;
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 1.2rem 0;
  font-size: 1rem;
  border-top: 1px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 14px;
  }
  
  /* General Styling */
  .head {
    padding: 10px 0 0 10px;
    font-size: 1.7rem;
  }
  
  /* Home Section Styling */
  .home {
    height: 25vh;
  }
  
  .readsy {
    font-size: 3.5rem;
  }
  
  .description {
    font-size: 1.2rem;
  }
  
  .left-pane {
    flex-basis: 35%;
    padding-bottom: 8px;
  }
  
  .right-pane {
    flex-basis: 65%;
    padding-left: 40px;
    padding-right: 0;
  }
  
  /* Random Book Section Styling */
  .random {
    height: 20vh;
  }
  
  .random-head {
    padding: 10px 0 0 10px;
    font-size: 1.7rem;
  }
  
  .random-details {
    font-size: 1rem;
    padding-left: 10px;
  }

  .random-details > * {
    margin: 0 0 0.2rem 0;
  }
  
  .random-cover {
    height: 140px;
  }
  
  .view-book {
    width: 80px;
  }
  
  /* Bookshelf Section Styling */
  .bookshelf {
    margin-top: 15px;
    gap: 20px;
  }
  
  /* card */
  .card {
    flex-basis: 21%;
    font-size: .6rem;
    margin-bottom: 0;
  }
  
  /* book details */
  .book-cover {
    height: 210px;
  }
  
  .book-details {
    padding: 2.2px;
  }

  .book-details > * {
    margin: .2rem 0 0 0;
  }
  
  /* New Book Page Styling */
  .add-book, .edit-book {
    white-space: unset;
    margin: 8px 0 15px 0;
  }

  .new-book {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* form */
  .form-container {
    padding: 20px;
    margin-bottom: 15px;
  }
  
  .group-container {
    justify-content: space-between;
  }
  
  .form-group {
    flex-basis: 48%;
    max-width: 48%;
  }
  
  .form-title {
    margin: 0 0 20px 0;
  }
  
  .submit-button {
    margin-top: 20px;
    font-size: 1rem;
    padding: 8px;
  }
  
  /* Journal Page Styling */
  .journal-section {
    height: 100vh;
    font-size: 18px;
  }
  
  .journal {
    flex-basis: 25%;
    margin: 25px 0 0 0;
    overflow: hidden;
  }
  
  .journal-cover {
    height: 180px;
    width: 125px;
  }
  
  /* journal buttons */
  .edit-btn, .delete-btn {
    width: 50px;
    font-size: .6rem;
  }
  
  /* journal details */
  .journal-details {
    flex-basis: 72%;
    padding: 5px;
    max-height: 100vh;
  }
  
  .journal-details > * {
    max-width: 850px;
  }
  
  .j-title {
    font-size: 2.5rem;
    margin: 20px 0 0 0;
  }
  
  .j-author {
    font-size: 1.8rem;
    margin: 5px 0 20px 0;
  }
  
  .j-genre {
    font-size: 1rem;
    margin: 10px 0 0 0;
  }
  
  .j-rating {
    font-size: .7rem;
    margin: 8px 0 15px 0;
  }
  
  .j-review, .j-notes {
    white-space: pre-line;
    padding: 0;
    margin: 10px 0;
  }
  
  .j-labels {
    margin: unset;
  }

  .scrollable-content {
    flex-grow: 1;                 /* Allows the content to grow and fill available space */
    overflow-y: auto;             /* Allows vertical scrolling when needed */
    max-height: 90%;             /* Ensures it won't exceed the parent's height */
    scrollbar-width: none;        /* Hides scrollbar in Firefox */
    -ms-overflow-style: none;     /* Hides scrollbar in Internet Explorer 10+ */
  }
  
  /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
  .scrollable-content::-webkit-scrollbar {
    display: none;
  }
  
  /* Books Page Styling */
  .shelf-head {
    font-size: 2.25rem;
    margin: 10px 0 0 0;
    padding: 0 10px;
  }
  
  /* sorts */
  .sorts {
    padding: 0 10px;
    gap: 10px;
  }

  .sort-options {
    padding: 8px; /* Add padding to give space around the text */
    font-size: 14px;
  }
  
  .genre-width {
    width: 170px;
  }
  
  .sort-width {
    width: 125px;
  }
  
  .new-btn {
    height: unset;
    font-size: 14px;
  }
  
  /* search filter */
  #search-pane {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    font-size: 15px;
  }
  
  .search-text {
    margin: 0 0 1.2rem 0;
    padding: 0 10px;
  }

  .clear-btn {
    align-items: flex-start;
  }
  
  .clear-filter {
    padding: 0 10px;
  }

  .no-books-yet > a {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  .add-books-btn {
    padding: 10px;
    font-size: 1rem;
  }
  
  /* About Page Styling */
  .about-container {
    padding: 0 20px;
  }

  .about-section h2 {
    margin-bottom: 20px;
  }
  
  .about-text {
    padding-right: 20px;
    font-size: 1.1em;
  }
  
  .about-image {
    padding-left: 50px;
  }
  
  .about-image img {
    height: 270px;
  }
  
  .about-list {
    font-size: 1.1em;
  }
  
  .philosophy-text {
    font-size: 1.1em;
  }
  
  /* contact link */
  .about-contact-intro {
    margin-bottom: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* card */
  .card {
    flex-basis: 21.25%;
    font-size: .7rem;
  }
  
  /* book details */
  .book-cover {
    height: 250px;
  }

  /* Journal Page Styling */
  .journal {
    margin: 25px 0 0 0;
  }
  
  .journal-cover {
    height: 240px;
    width: 160px;
  }
  
  /* journal buttons */
  .edit-btn, .delete-btn {
    width: 70px;
    font-size: .8rem;
  }

  /* journal details */
  .j-genre {
    font-size: 1.4rem;
    margin: 10px 0 0 0;
  }
  
  .j-rating {
    font-size: .9rem;
    margin: 8px 0 15px 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
  
  /* General Styling */
  body {
    grid-template-columns: 1fr 1220px 1fr;
    grid-template-rows: 65px 1fr;
  }
  
  .container {
    grid-area: 2 / 2 / 3 / 3;
    min-height: 100.1%;
  }
  
  .head {
    padding: 25px 0 20px 20px;
    font-size: 2.25rem;
  }
  
  button {
    padding: 12px;
    font-size: 16px;
  }

  .top {
    display: none;
  }
  
  /* Header Section Styling */
  .header-section {
    grid-area: 1 / 1 / 2 / span 3;
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
  }
  
  .header-container {
    grid-area: 1 / 2 / 2 / 3;
    padding: 0 20px;
  }
  
  .hidden-temp {
    display: flex;
  }
  
  .website {
    display: block;
  }
  
  .sign-in {
    display: flex;
  }
  
  /* Home Section Styling */
  .home {
    height: 41vh;
  }
  
  .readsy {
    font-size: 4rem;
    padding: 0 35px;
  }
  
  .description {
    font-size: 1.4rem;
  }
  
  .left-pane {
    padding-bottom: 10px;
  }
  
  /* Random Book Section Styling */
  .random {
    height: 34vh;
  }
  
  .random-head {
    padding: 30px 0 0 20px;
    font-size: 2.2rem;
  }
  
  .random-details {
    font-size: 1.4rem;
    padding: 10px 0 0 20px;
  }

  .random-details > * {
    margin: 0 0 0.2rem 0;
  }
  
  .random-cover {
    height: 240px;
  }
  
  .view-book {
    width: 160px;
    margin-top: 10px;
  }
  
  /* Bookshelf Section Styling */
  .bookshelf {
    margin: 0;
    gap: 25px;
  }
  
  /* card */
  .card {
    flex-basis: 21.25%;
    font-size: .8rem;
    margin-bottom: 10px;
  }
  
  /* book details */
  .book-cover {
    height: 310px;
  }
  
  .book-details {
    padding: 2.2px;
  }

  .book-details > * {
    margin: .25rem 0 0 0;
  }
  
  /* New Book Page Styling */
  .add-book, .edit-book {
    white-space: unset;
    margin: 0;
  }
  
  /* form */
  .form-group {
    flex-basis: 49%;
    max-width: 49%;
  }
  
  /* Journal Page Styling */  
  .journal-cover {
    height: 320px;
    width: 220px;
    margin-top: 5px;
  }
  
  /* journal buttons */
  .edit-btn, .delete-btn {
    height: 40px;
    width: 90px;
    font-size: .9rem;
  }
  
  /* journal details */
  .journal-details {
    flex-basis: 75%;
    padding: 0;
    max-height: 101vh;
  }
  
  .j-title {
    font-size: 2.5rem;
    margin: 30px 0 0 0;
  }
  
  /* Books Page Styling */
  .bookshelf-header {
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 15px;
  }
  
  .shelf-head {
    flex-basis: unset;
    margin: 20px 0 0 0;
    padding: 0 20px;
  }
  
  /* sorts */
  .sorts {
    flex-basis: unset;
    flex-wrap: nowrap;
    padding: 0 20px;
  }
  
  .sort-options {
    margin-top: 25px;
    padding: 8px; /* Add padding to give space around the text */
  }
  
  .genre-width {
    width: 170px;
  }
  
  .sort-width {
    width: 125px;
  }
  
  .new-btn {
    margin-top: 25px;
    width: 250px;
  }
  
  /* search input */
  .search-container {
    margin-top: 25px;
  }
  
  /* search filter */
  #search-pane {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  
  .search-text {
    margin: 0 0 1.2rem 0;
    padding: 0 20px;
  }
  
  .clear-filter {
    padding: 0 20px;
  }
  
  /* About Page Styling */
  .about-container {
    max-width: 1000px;
  }
  
  .about-image {
    padding-left: 90px;
  }
  
  .about-image img {
    height: 260px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {    
  .head {
    padding: 25px 0 20px 0;
    font-size: 2.25rem;
  }
  
  /* Header Section Styling */
  .header-container {
    grid-area: 1 / 2 / 2 / 3;
    padding: 0;
  }
  
  /* Home Section Styling */
  .left-pane {
    padding-bottom: 10px;
  }
  
  /* Random Book Section Styling */
  .random {
    height: 40vh;
  }
  
  .random-head {
    padding: 30px 0 0 0;
  }
  
  .random-details {
    padding-left: 0;
  }

  .random-details > * {
    margin: 0 0 0.2rem 0;
  }
  
  /* Bookshelf Section Styling */
  .bookshelf {
    margin-top: 0;
    gap: 35px;
  }
  
  /* card */
  .card {
    flex-basis: 17.7%;
    margin-bottom: 0;
  }
  
  /* book details */
  .book-cover {
    height: 315px;
  }
  
  .book-details {
    padding: 5px;
  }
  
  .book-details > * {
    margin: .3rem 0 0 0;
  }
  
  /* Books Page Styling */ 
  .shelf-head {
    padding: 0;
  }
  
  /* sorts */
  .sorts {
    padding: 0;
  }

  .search-text {
    padding: unset;
  }

  .clear-filter {
    padding: 0;
  }
}